import /system/etc/init/hw/init.zygote32_tango.rc

on late-fs
    mount binfmt_misc none /proc/sys/fs/binfmt_misc
    write /proc/sys/fs/binfmt_misc/register ":tango_translator:M::\x7fELF\x01\x01\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x02\x00\x28\x00:\xff\xff\xff\xff\xff\xff\xff\x00\x00\x00\x00\x00\x00\x00\x00\x00\xfe\xff\xff\xff:/system/bin/tango_translator:POCF"

on property:tango.enabled=1
    write /proc/sys/fs/binfmt_misc/tango_translator 1

on property:tango.enabled=0
    write /proc/sys/fs/binfmt_misc/tango_translator 0

on zygote-start
    start zygote_tango